{% extends 'admin/base.html.twig' %}
{% set item = true %}

{% block pagewrapper %}
<div id="page-wrapper">

            <div class="container-fluid">

                <!-- Page Heading -->
                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header">
                        </h1>
                    </div>
                </div>
                <!-- /.row -->
                <button class="btn btn-default" id="add-new-item">Nouveau produit
                    <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>
                </button>
               <div id="all-item"></div>

            </div>
            <!-- /.container-fluid -->

        </div>
{% endblock %}
{% block modal %}
{% include "admin/_add_new_item.html.twig" %}
{% include "admin/_message.html.twig" %}
{% endblock %}