{% extends 'admin/base.html.twig' %}
{% set stock = true %}
{% block pagewrapper %}
	 <div id="page-wrapper">
            <div class="container-fluid">
                <!-- Page Heading -->
                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header">
                        </h1>
                    </div>
                </div>
                <!-- /.row -->
                <button class="btn btn-success btn-sm" id="stock-report">IMPRIMER
                    <span class="glyphicon glyphicon-print" aria-hidden="true"></span>
                </button>
               <div id="all-stock"></div>

            </div>
            <!-- /.container-fluid -->

        </div>
        <!-- /#page-wrapper -->
{% endblock %}
{% block modal %}
<?php include_once('modal/confirmation.php'); ?>
<?php include_once('modal/message.php'); ?>
{% endblock %}